* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Leftlet JS Map */
.leftlet-js-area {
  padding: 120px 0;
}

#map {
  width: 100%;
  height: 500px;
}
